/reactsample/nodemodules
/reactsample/.pnp
/reactsample/.pnp.js
/reactsample/coverage
/reactsample/build
/reactsample/.DS_Store
/reactsample/.env.local
/reactsample/.env.development.local
/reactsample/.env.test.local
/reactsample/.env.production.local

/reactsample/npm-debug.log*
/reactsample/yarn-debug.log*
/reactsample/yarn-error.log*

/webpack1/node_modules
/webpack2/node_modules
/webpack3/node_modules
/webpack4/node_modules
/webpack5/node_modules