.project_wrap{
    width: 100%;
    height: auto;
    overflow: scroll;
    min-height: 600px;
}

.project_center{
    width: 90vw;
    margin: 0 auto;
    height: auto;
    min-height: 700px;
}   


@media screen and (min-width:800px) {
    .project_wrap{
        width: 100%;
        height: auto;
        overflow: hidden;
        min-height: 800px;
    }

    .project_center{
        width: 1200px;
        display: flex;
    }   
}

